
API_URL=https://eth-ropsten.alchemyapi.io/v2/<YOUR_ALCHEMY_KEY>

PUBLIC_ADDR=<YOUR_PUBLIC_ADDR>
PRIVATE_KEY=<YOUR_PRIVATE_KEY>

DUTCH_AUCTION_CONTRACT_ADDR=<YOUR_DUTCH_AUCTION_CONTRACT_ADDR>

NFT_TOKEN_METADATA_URI=<YOUR_NFT_TOKEN_METADATA_URI>
NFT_TOKEN_ID=1

