body {
  background-color: #eee;
  display: flex;
  font-family: 'Muli', sans-serif;
}

#nft {
  width: 40%;
  min-width: 310px;

  h1 {
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
    margin: 10px auto 20px auto;
    width: 80%;
    text-align: center;
  }

  .nft-attributes {
    margin-left: 20px;
  }

  th.property {
    width: 50%;
  }

  th.attribute {
    width: 21%;
    vertical-align: top;
  }

  th,
  td {
    text-align: left;
  }

  .nft-image-container {
    margin: 10px auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #999;
    width: 80%;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 20px;
      padding-bottom: 20px;
      width: 300px;
      height: 300px;
    }
  }

  .nft-form-container {
    .active-listing-header {
      width: 50%;
      margin: auto;
      text-align: center;
      padding-bottom: 10px;
    }

    .button {
      background-color: #f58427;
      color: white;
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 15px;
      margin: auto;
      padding: 8px;
      font-size: 14px;
      letter-spacing: 1px;
      width: 50%;
      cursor: pointer;

      &.disabled-buy-button {
        background-color: #aaa;
        cursor: not-allowed;
      }
    }

    .not-enough-funds-msg {
      margin: auto;
      width: 50%;
    }

    .token-listing-form-table {
      margin-bottom: 20px;
    }

    .nft-active-listing-table-container {
      margin-bottom: 20px;

      h2 {
        padding-bottom: 10px;
        border-bottom: 1px solid #aaa;
      }

      .nft-active-listing-table {
        width: 100%;

        th,
        td {
          text-align: center;
        }
      }
    }
  }
}

.nft-previous-listings-container {
  margin: 20px;
  width: 50%;
  padding: 40px;
  border: 1px solid #ddd;
  background-color: #ddd;

  h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
    width: 80%;
    text-align: center;
    margin: auto;
  }

  .nft-previous-listings-table {
    width: 100%;

    th,
    td {
      text-align: center;
    }
  }
}
